* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-font-size: 12px;
  --scale-ratio: 1.333;
  /* النسبة 1.333 */
  /* أحجام الخطوط المحسوبة */
  --text-xxxl: calc(
    var(--base-font-size) * var(--scale-ratio) * var(--scale-ratio) *
      var(--scale-ratio) * var(--scale-ratio)
  );
  --text-xxl: calc(
    var(--base-font-size) * var(--scale-ratio) * var(--scale-ratio) *
      var(--scale-ratio)
  );
  --text-xl: calc(
    var(--base-font-size) * var(--scale-ratio) * var(--scale-ratio)
  );
  --text-lg: calc(var(--base-font-size) * var(--scale-ratio));
  --text-md: var(--base-font-size);
  --text-sm: calc(var(--base-font-size) / var(--scale-ratio));

  /* color */

  --primary-color: #242424;
  --secondary-color: #da291c;
  --tertiary-color: #a7170da7;
  --text-color: #eee;
}
body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #5a5a4c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  text-align: center;
  line-height: 1.6;
}

a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  font-size: var(--text-md);
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: var(--text-sm);
        padding: 0.5rem 0.8rem;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90%;
        /* left: 4%; */
        margin: 5%;
  }
  
}

.btn:hover {
  background-color: rgba(
    218,
    41,
    28,
    0.2
  ); /* semi-transparent secondary color */
  border: 1px solid var(--secondary-color);
  color: white;
  animation-name: fadeIn;
}

.container {
  width: 90%;
  height: 90%;
  background-color: #7b7b68;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    height: 100%;
    
  }
    
}

/* 
===========================
    Header
===========================
*/

.container .mainContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.475);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-content: center;
  flex-wrap: wrap;
}

.container .mainContainer *{
    /* flex-grow: 1; */
}
.brandImg .logo {
  width: 12rem;

  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .brandImg .logo {
    width: 8rem;
  }   
}


@media screen and (max-width: 1024px) {
  .headerFlex {
         display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.475);
        border-radius: 1rem;
        align-content: center;
        /* flex-wrap: nowrap; */
    }
  }   
  

/* 
============================
    Navigation
============================
*/

nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  nav {
   flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        height: 30vh;
        justify-content: space-between;
        align-items: start;

  }
  
}

nav .navLinks,
nav .nav-icons {
  display: flex;
}

@media screen and (max-width: 768px) {
  nav .navLinks {
 flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.475);
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* position: relative;
        top: 2rem; */

  }
    
}
nav ul li {
  margin: 0 1rem;
}
@media screen and (max-width: 768px) {
  nav ul li {
    margin: 0.5rem 0;
    width: 100%;
   /* padding: 0.5rem 1rem; */

  }
  
}
.nav-icons {
  margin-left: 2rem;
}
.aboutUsMenue {
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.aboutItems {
  width: 200px;
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.475);
  border-radius: 1rem;
  padding: 1rem;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.aboutItems li {
  margin: 0.5rem 0;
}
summary::marker {
  color: var(--secondary-color);
  font-weight: bold;
}
